################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EuroJackpotApp/.vs/EuroJackpotApp/v15
/.vs
